
.*
*.o
dist_workdir/
quick/lib/framework_precompiled/*.zip

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf

# Ignore files build by ndk and eclipse
proj.android/libs/
proj.android/bin/
proj.android/obj/
proj.android/gen/
proj.android/assets/
local.properties

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/
build.xcarchive/

# Android
project.properties

#
player3.app
player3.exe

v3-deps-1.zip
v3-deps-2.zip
v3-deps-4.zip
v3-lua-runtime-1.1.3.zip
