
.*

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.vcproj.*.user
*.vcxproj.user
*.csproj.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
[Dd]ebug.win32/
*.sbr
*.sdf
obj/
[Rr]elease/
[Rr]elease.win32/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
local.properties

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/

# Android
project.properties

# Ignore prebuilt libraries folder
/external/xxhash/
/external/curl/
/external/edtaa3func/
/external/freetype2/
/external/glfw3/
/external/jpeg/
/external/json/
/external/linux-specific/
/external/lua/
/external/png/
/external/sqlite3/
/external/tiff/
/external/tinyxml2/
/external/unzip/
/external/webp/
/external/websockets/
/external/win32-specific/
/external/winrt-specific/
/external/wp8-specific/
/external/version.json
/templates/lua-template-runtime/runtime
/v*-deps-*.zip
/v*-lua-runtime-*.zip

#
quick/player/win_bin_*
player3.app
player3.exe

